# MINIMO COSTO PARA TRATAMIENTO DE AGUAS RESIDUALES.

Las descargas de aguas residuales de las grandes ciudades son, con frecuencia, la causa principal de contamionacion en un rio.
En relacion a nuestro ejercicio se muestra

In [22]:
import pandas as pd

In [23]:
import sympy as sym
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
from sympy import *

In [25]:
file_name = 'tabla 16.2.csv'
data = pd.read_csv(file_name)
data

,Ciudad,Pi(mg/d),fi($10^-6/mg),Ci(mg/L),Segmento,Q(L/d),R,Cs(mg/L)
0,1,1000000000,2,NaN,3-Jan,10000000,0.50,20
1,2,2000000000,2,NaN,3-Feb,50000000,0.35,20
2,3,4000000000,4,NaN,4-Mar,110000000,0.60,20
3,4,2500000000,4,NaN,5-Apr,250000000,NaN,20

In [26]:
#Restricciones
x1 = 0
x2 = 0
x3 = 0
x4 = 0

In [27]:
P1 = data.iloc[0,1]
Q1 = data.iloc[0,5]
P2 = data.iloc[1,1]
Q2 = data.iloc[1,5]
P3 = data.iloc[2,1]
Q3 = data.iloc[2,5]
P4 = data.iloc[3,1]
Q4 = data.iloc[3,5]
R13 = data.iloc[0,6]
R23 = data.iloc[1,6]
R34 = data.iloc[2,6]

In [28]:
#Encontrar Concentracion en el rio a traves de las restricciones.
#Ciudad 1,2,3,4.
C1 = ((1-x1)*P1)/Q1
C2 = ((1-x2)*P2)/Q2
C3 = ((R13*Q1*C1)+(R23*Q2*C2)+((1-x3)*P3))/Q3
C4 = ((R34*Q3*C3)+((1-x4)*P4))/Q4

A partir de estas operaciones de restriccion encontramos la concentracion en el rio de las 4 ciudades.

In [29]:
#Retiramos los valores de Costo Unitario de la tabla.
d1 = data.iloc[0,2]
d2 = data.iloc[1,2]
d3 = data.iloc[2,2]
d4 = data.iloc[3,2]

In [30]:
#El costo total de tratamiento se determina de la siguiente manera.
Z1 = (d1*P1*x1)
Z2 = (d2*P2*x2)
Z3 = (d3*P3*x3)
Z4 = (d4*P4*x4)

#### Optimizacion de la funcion para la determinacion de X (Tratamiento) en relacion de las restricciones aplicadas por CA Calidad de Agua

In [31]:
x1 = 1600/(d1*P1)
x2 = 2000/(d2*P2)
x3 = 9000/(d3*P3)
x4 = 0/(d4*P4)

In [33]:
x1,x2,x3,x4

(8e-07, 5e-07, 5.625e-07, 0.0)